/* @import font */

:root{
  --purp: #CC9CFF;
  --periwinkle: #B1BFFF;
  --blu: #82AAFF;
  --firooz: #B1DFFF;
  --main-text: #233163;
  --second-text: #FFFFFF;
}

.App-container {
  background-image: linear-gradient(to top right, var(--blu), var(--purp));
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.top-bar {
  display: flex;
  flex-direction: row;
  background: var(--periwinkle);
  color: var(--second-text);
}
